.main_body_container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.body_container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main_right_container {
  width: 50%;
}

.body_container_right {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: flex-end;
  height: 500px;
}

.main_item {
  display: flex;
  justify-content: flex-end;
}

.main_item_block {
  width: 230px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main_container_items {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.second_container_items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container_items {
  width: 140px;
  height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.container_items > b {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* light text */

  color: #e4e5ea;
}

.main_item_block > * > b {
  font-family: "Rubik One", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(45deg, #fcb045 33%, #fd1d1d 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
}

.textblock {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.btn_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn {
  width: 262px;
  height: 61px;
  left: 0px;
  top: 0px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: #4077f3;
}

.main_left_container {
  width: 50%;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 20px;
  text-transform: uppercase;
  color: #e4e5ea;
}

.body_container_left > b {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 20px;
  /* identical to box height */

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.body_container_left > p {
  line-height: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.ball3 {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.248) 59.67%,
      rgba(167, 49, 49, 0.264) 78.59%,
      rgba(130, 25, 25, 0.232) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

@media (max-width: 320px) {
  h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 10px;
  }

  .main_left_container {
    width: 100%;
  }

  .body_container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .body_container_left {
    width: 100%;
    height: 100%;
    font-size: me;
  }

  .body_container_left > b {
  }

  .main_right_container {
    width: 100%;
  }

  .textblock {
    min-width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    font-size: medium;
  }

  .main_container_items {
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .body_container_right {
    display: flex;
    align-items: flex-start;
    min-width: 100%;
  }

  .second_container_items > * {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .text_container_block,
  .btn,
  .btn_container {
    display: none;
  }

  .container_items {
    height: auto;
  }

  .second_container_items > * > b {
    font-size: small;
    text-align: start;
    width: 100%;
    align-content: flex-start;
    justify-content: flex-start;
    height: auto;
  }
  .body_container {
    height: 500px;
  }

  .main_right_container,
  .body_container_right {
    height: 200px;
  }
}
