body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 900px;
  background: #1E1E1E;  color: white;
  position: relative;
}

.background_ball {
  position: absolute;
width: 259px;
height: 259px;
left: 602px;
top: -154px;

background: #833AB4;
opacity: 0.5;
filter: blur(196px);
}

.background_ball2 {
  position: absolute;
width: 311px;
height: 311px;
left: -102px;
top: 251px;

background: #961A1A;
opacity: 0.5;
filter: blur(196px);
}

@media (max-width: 320px) {
  .wrapper {
    height: calc(900px + 500px);
  }

  body {
    overflow-x: hidden;
  }
}